{{ define "content" }}

<div class="container" id="about">
    <div class="row text-center">
        <div class="col-lg-10 mx-auto">
            <h1 class="fw-bold text-primary">{{ .Params.caption }}</h1>
            <p class="lead text-muted">{{ .Params.description }}</p>
        </div>
    </div>

    <div class="row mt-2 align-items-center">
        <!-- Image: Moves above text on small screens -->
        <div class="col-lg-6 text-center order-1 order-lg-2">
            {{- partial "responsive_image.html" (dict
            "image" .Params.image
            "title" .Params.image_title
            "class" "rounded-3 img-fluid shadow-sm"
            "widths" (dict "lg" 50)
            ) -}}
        </div>

        <!-- "Über uns" text: Moves below image on small screens -->
        <div class="col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0">
            <h2 class="text-secondary">{{ .Params.über_uns_title }}</h2>
            <p class="text-muted">{{ .Params.über_uns_text | markdownify}}</p>
            <a href="{{ .Params.über_uns_btn_link }}" class="btn btn-outline-primary btn-lg mt-3">
                {{ .Params.über_uns_btn_text }}
            </a>
        </div>
    </div>

    <!-- Vereinsheim Section -->
    <div class="row mt-5 align-items-center">
        <!-- Vereinsheim Image (Left on large screens, above text on small screens) -->
        <div class="col-lg-6 text-center order-1 order-lg-1">
            {{- partial "responsive_image.html" (dict
            "image" .Params.vereinsheim.image
            "title" "Vereinsheim des Musikverein Keilberg"
            "class" "rounded-3 img-fluid shadow-sm"
            "widths" (dict "lg" 50)
            ) -}}
        </div>

        <!-- Vereinsheim Text (Right on large screens, below image on small screens) -->
        <div class="col-lg-6 order-2 order-lg-2 mt-4 mt-lg-0">
            <h2 class="text-secondary">{{ .Params.vereinsheim.title }}</h2>
            <p class="text-muted">{{ .Params.vereinsheim.text | markdownify }}</p>
        </div>
    </div>

    <div class="row mt-2 g-4">
        <div class="col-md-4">
            {{ with .Site.GetPage "section" "aktuelles" }}
            {{ partial "index_preview_card.html" . }}
            {{ end }}
        </div>
        <div class="col-md-4">
            {{ with .Site.GetPage "section" "veranstaltungen" }}
            {{ partial "index_preview_card.html" . }}
            {{ end }}
        </div>
        <div class="col-md-4">
            {{ with .Site.GetPage "page" "kontakt" }}
            {{ partial "index_preview_card.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}