<!DOCTYPE html>
<html lang="de-de" class="h-100">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

  <link rel="stylesheet" href="/css/bootstrap-523.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Smooch+Sans:wght@100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/custom-fonts.css">

  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MV Keilberg" />
  <link rel="manifest" href="/favicons/site.webmanifest" />



  <title>{{ if .Title }} {{ .Title }} {{ else }} {{ site.Params.title }} {{end}}</title>
  {{ if .Title }}
  <meta name="description" content="{{ .Title }}">
  {{ end }}
</head>

<body id="body" class="d-flex flex-column h-100 bg-light">
  <header>
    <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
          {{ if site.Params.logo }}
          <div class="text-secondary">
            <img src="{{ site.Params.logo | relURL }}" width="35" height="42" alt="{{ .Site.Title }}">
            <span style="vertical-align:middle">{{ site.Title }}</span>
            {{ else }}
            {{ site.Title }}
            {{ end }}
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main.ByWeight }}
            {{ if lt .Weight 11 }}
            <li class="nav-item ">
              <a class='nav-link {{ if in $currentPage .URL  }} active {{ end }}' href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
            {{ end }}

            {{/*
            <li class="nav-item dropdown pe-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sonstiges
              </a>

              <ul class="dropdown-menu">
                {{ range .Site.Menus.main.ByWeight }}
                {{ if gt .Weight 10 }}
                {{ if ne .Weight 11 }}
                <li>
                  <a class="dropdown-item" href="{{ .URL }}">
                    {{ .Name }}
                  </a>
                </li>
                {{end }}
                {{ end }}
                {{ end }}
              </ul>
            </li>
            */}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main id="content" class="pt-5 pb-5">
    <div class="pt-2">

      {{- block "content" . }}{{- end }}
    </div>
  </main>
  <footer class="mt-auto">

    <nav class="navbar navbar-expand bg-light navbar-light">
      <ul class="navbar-nav center-text mx-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
        {{ if eq .Weight 11 }}
        <li class="nav-item ">
          <a class='nav-link {{ if in $currentPage .URL }} active {{ end }}' href="{{ .URL | absURL }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        {{ end }}
        <li class="nav-item ">
          <a class='nav-link' href="/kontakt">
            Kontakt
          </a>
        </li>
      </ul>
    </nav>

  </footer>
  <script src="/js/bootstrap-523.bundle.min.js"></script>
</body>

</html>