{{ define "content" }}
{{- $odd := true}}
<div class="d-none d-md-block">
    <div class="container pt-1">
        <div class="row justify-content-center pb-3">
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{ range .Pages.ByPublishDate.Reverse }}
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "contentCard.html" (dict "Context" . "Title" .Params.Title "Content" .Content "Images" .Params.Resources.Images "widths" (dict "md" 50 "sm" 85 )) }}
                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
            <div class="col-md-6 col-sm-10">
                <div class="row">
                    {{$odd = false}}
                    {{ range .Pages.ByPublishDate.Reverse }}
                    {{if $odd}}
                    <div class="col-lg-12 pt-3">
                        {{ partial "contentCard.html" (dict "Context" . "Title" .Params.Title "Content" .Content "Images" .Params.Resources.Images "widths" (dict "md" 50 "sm" 85 )) }}                    </div>
                    {{ end }}
                    {{$odd = not $odd}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-block d-md-none">
    <div class="container pb-3">
        {{ range .Pages.ByPublishDate.Reverse }}
        <div class="row justify-content-center pt-3">
            <div class="col-md-6 col-sm-10 pt-3">
                {{ partial "contentCard.html" (dict "Context" . "Title" .Params.Title "Content" .Content "Images" .Params.Resources.Images "widths" (dict "md" 50 "sm" 85 )) }}            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}